<!DOCTYPE html>
<html lang="fr-FR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mon nombre aléatoire</title>
</head>
<body>
  <h1>Mon super nombre : {{number}}</h1>
  
</body>
</html>